{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
      "semi": ["error", "always"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/jsx-runtime"
  ],
  "parser": "@babel/eslint-parser"
}